 body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #b90000;
  margin: 0;
  padding: 2rem;
}

h1, h2 {
  text-align: center;
  color: #333;
}

form {
  background: rgb(36, 15, 15);
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 400px;
}

li {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

strong {
  color: #0c0202;
}
